[submodule "migration/analytics-postgres"]
	path = migration/analytics-postgres
	url = https://github.com/beesar-id/nayarta-migration-postgres-analytics.git
[submodule "migration/analytics-ch"]
	path = migration/analytics-ch
	url = https://github.com/beesar-id/nayarta-migration-clickhouse.git
[submodule "analytics/pipeline/pipman"]
	path = analytics/pipeline/pipman
	url = https://github.com/beesar-id/pipman.git
[submodule "analytics/pipeline/task"]
	path = analytics/pipeline/task
	url = https://github.com/beesar-id/nai-task.git
