services:
  cadvisor:
    profiles: ["monitoring"]
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
      - "8081:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    restart: always
    networks:
      - nayarta-network

  prometheus:
    profiles: ["monitoring"]
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    restart: always
    networks:
      - nayarta-network

  grafana:
    profiles: ["monitoring"]
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    networks:
      - nayarta-network
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana_data:/var/lib/grafana
      - ./config/grafana/datasources:/etc/grafana/provisioning/datasources
      - ./config/grafana/dashboards:/etc/grafana/provisioning/dashboards
      - ./config/grafana/dashboard_json:/var/lib/grafana/dashboards
    depends_on:
      - prometheus

  # dcgm-exporter:
  #   image: nvcr.io/nvidia/k8s/dcgm-exporter:3.2.0-3.4.0-ubuntu20.04
  #   container_name: dcgm-exporter
  #   restart: unless-stopped
  #   deploy:
  #     resources:
  #       reservations:
  #         devices:
  #           - capabilities: [gpu]
  #   ports:
  #     - "9400:9400"
  #   runtime: nvidia
  #   networks:
  #     - nayarta-network

volumes:
  prometheus_data:
  grafana_data: